/******************************

COMMON

******************************/

body {
    font-family: "monospace", sans-serif;
}

.font-primary {
    color: #00ABAE;
}

.title-icon {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black {
    color: #000 !important;
}

/******************************

ABOUT

******************************/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 15px;
    color: #00ABAE;
    margin-bottom: 10px;
}

#about .email {
    font-size: 14px;
    margin-top: 14px;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a {
    color: #000;
}


/******************************

PROJECTS

******************************/

#projects {
    margin: 60px auto;
    width: 80%;
}

#projects h2 {
    text-align: center;
}

#projects .card img {
    width: 100%;
}

#projects .card-title {
    font-weight: bold;
}

#projects .row {
    margin-bottom: 20px;
}